.header a{
margin-right: 15px;
padding: 2px 5px;
text-decoration: none;
}
.header a:hover{
color: rgb(91, 91, 241);
background-color: antiquewhite;
}
.active{
    background-color: rgb(225, 196, 158);
}